{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="titlediv">
    <h1 class="maintitle">Cyber Security</h1>
    <p>Cybersecurity is the practice of protecting computers, networks, and data from unauthorized access, 
        theft, or damage. It encompasses various strategies and technologies designed to safeguard 
        internet-connected systems from cyber threats. In simple terms, cybersecurity is essential for 
        keeping our digital lives safe from malicious actors.</p>
    <div class="symbols">
        <i class="fa-solid fa-lock"></i><i class="fa-solid fa-shield"></i>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="{% static 'images/placeholder.jpg' %}" alt="placeholder image"
                            class="card-img-top" style="height: 200px; object-fit: cover;">
                        {% else %}
                        <img src=" {{ post.featured_image.url }}" alt="{{ post.title }}" class="card-img-top"
                            style="height: 200px; object-fit: cover;">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }} &nbsp; | &nbsp; Category:
                                {{ post.category }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>

                    <hr>
                    <p class="card-text text-muted h6">{{ post.created_on}}
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>

{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}