{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="titlediv">
    <h1 class="maintitle">Design</h1>
    <p>Web design refers to the process of creating the visual and functional aspects of a 
        website. In simple terms, it involves arranging content—like text, images, and 
        videos—so that users can easily access and navigate through the site. Web design combines 
        creativity and functionality to create websites that are not only attractive but also 
        user-friendly, making it easier for visitors to engage with content effectively.</p>
    <div class="symbols">
        <i class="fa-brands fa-figma"></i><i class="fa-brands fa-invision"></i>
    </div>
</div>

    <div class="container">
        <div class="row">
            {% if posts %}
            {% for post in posts %}
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <article class="article">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h3 class="card-title">{{ post.title }}</h3>
                                {% if "placeholder" in post.featured_image.url %}
                                <img src="{% static 'images/placeholder.jpg' %}" alt="placeholder image"
                                    class="card-img-top" style="height: 200px; object-fit: cover;">
                                {% else %}
                                <img src=" {{ post.featured_image.url }}" alt="{{ post.title }}" class="card-img-top"
                                    style="height: 200px; object-fit: cover;">
                                {% endif %}
                                <div class="image-flash"></div>
                                <p class="author">Author: {{ post.author }} &nbsp; | &nbsp; Category: {{ post.category }}
                                </p>
                                <p class="card-text">{{ post.excerpt|default:post.content|truncatewords:30 }}</p>
                        </article>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>No backend posts available.</p>
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
