<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a3dab9761.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="media/css/style.css">
    <title></title>
</head>

<body>

    <header>
        <nav class="nav-left">
            <a href="#">Home</a>
            <a href="#">About</a>
        </nav>

        <img src="/media/images/blog-logo.png" alt="Logo" class="logo">

        <nav class="nav-right">
            <a href="#">Sign In</a>
            <a href="#">Sign Up</a>
        </nav>
    </header>

    <nav class="secondary-header">
        <a href="#">Frontend</a>
        <a href="#">Backend</a>
        <a href="#">AI</a>
        <a href="#">CyberSecurity</a>
        <a href="#">Design</a>
    </nav>


    <main>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum architecto veniam iusto soluta quas id debitis recusandae officia obcaecati. Dolorem corrupti enim laborum accusamus totam doloremque in voluptate modi!</p>

    </main>








    <footer>
        <nav class="footer">
            <a href="#"><i class="fa-brands fa-github">HP</i></a>
            <a href="#"><i class="fa-brands fa-github">CP</i></a>
            <a href="#"><i class="fa-brands fa-github">AC</i></a>
        </nav>

        <div class="copyright">
            © 2024 All rights reserved.
        </div>
    </footer>
</body>

</html>