{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main-content">
    
    <div class="featured-post">
        <div class="featured-image">
            <img src="/static/images/image3.webp" alt="Blog featured image">
        </div>
        <div class="featured-content">
            <h1 class="featured-title">The Art and Science of Software Development: Crafting Digital Solutions</h1>
            <p class="featured-desc">Explore the multifaceted world of software development, 
                from its core principles to emerging trends. Discover how this dynamic field 
                combines creativity, problem-solving, and technical expertise to shape our digital future.</p>
            <a href="{% url 'featured' %}"><button type="button" class="btn">See Post</button></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-6">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img src="{% static 'images/placeholder.jpg' %}" alt="placeholder image" class="card-img-top" style="height: 200px; object-fit: cover;">
                                {% else %}
                                <img src=" {{ post.featured_image.url }}" alt="{{ post.title }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }} &nbsp; | &nbsp; Category: {{ post.category }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2> 
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}