{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main-content">
    
    <div class="featured-post">
        <div class="featured-image">
            <img src="/static/images/image3.webp" alt="Blog featured image">
        </div>
        <div class="featured-content">
            <h1 class="featured-title">The Art and Science of Software Development: Crafting Digital Solutions</h1>
            <p class="featured-desc">Explore the multifaceted world of software development, 
                from its core principles to emerging trends. Discover how this dynamic field 
                combines creativity, problem-solving, and technical expertise to shape our digital future.</p>
            <button type="button" class="btn">See Post</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for post in regular_posts %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    {% if post.featured_image %}
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="card-img-top"
                        style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}